@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
html{
  scroll-behavior: smooth;
}
body {
  user-select:none;
  background-color: black;
  font-family: 'Lato', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.alert-absolute{
  position: absolute;
}

.colored-toast.swal2-icon-success {
  background-color: #a5dc86 !important;
}
